{% extends "menu.html" %}

{% block child %}

<div class="sub"><h3>7	Pruebas de laboratorio / Enfermedad de Cushing</h3></div>

<p>Número de estudios y resultados al mes</p>

<form action="" method="post" class="form-inline" role="form" id="FrmLaboratorio">{% csrf_token %}
	<table class="table table-condensed">
		<tr class="th_principal">
			<th colspan="2">Meses</th>
			<th>1</th>
			<th>2</th>
			<th>3</th>
			<th>4</th>
			<th>5</th>
			<th>6</th>
			<th>7</th>
			<th>8</th>
			<th>9</th>
			<th>10</th>
			<th>11</th>
			<th>12</th>
		</tr>
		<tr>
			<td rowspan="3">7.1. Cortisol libre en orina</td>
			<td>No.</td>
			<td>{{form.clo_no_1_mes}}</td>
			<td>{{form.clo_no_2_mes}}</td>
			<td>{{form.clo_no_3_mes}}</td>
			<td>{{form.clo_no_4_mes}}</td>
			<td>{{form.clo_no_5_mes}}</td>
			<td>{{form.clo_no_6_mes}}</td>
			<td>{{form.clo_no_7_mes}}</td>
			<td>{{form.clo_no_8_mes}}</td>
			<td>{{form.clo_no_9_mes}}</td>
			<td>{{form.clo_no_10_mes}}</td>
			<td>{{form.clo_no_11_mes}}</td>
			<td>{{form.clo_no_12_mes}}</td>
		</tr>
		<tr>
			<!-- <td></td> -->
			<td>Valor</td>
			<td>{{form.clo_valor_1_mes}}</td>
			<td>{{form.clo_valor_2_mes}}</td>
			<td>{{form.clo_valor_3_mes}}</td>
			<td>{{form.clo_valor_4_mes}}</td>
			<td>{{form.clo_valor_5_mes}}</td>
			<td>{{form.clo_valor_6_mes}}</td>
			<td>{{form.clo_valor_7_mes}}</td>
			<td>{{form.clo_valor_8_mes}}</td>
			<td>{{form.clo_valor_9_mes}}</td>
			<td>{{form.clo_valor_10_mes}}</td>
			<td>{{form.clo_valor_11_mes}}</td>
			<td>{{form.clo_valor_12_mes}}</td>
		</tr>
		<tr>
			<!-- <td></td> -->
			<td>µg/día</td>
			<td>µg/día</td>
			<td>µg/día</td>
			<td>µg/día</td>
			<td>µg/día</td>
			<td>µg/día</td>
			<td>µg/día</td>
			<td>µg/día</td>
			<td>µg/día</td>
			<td>µg/día</td>
			<td>µg/día</td>
			<td>µg/día</td>
			<td>µg/día</td>
		</tr>
		<tr>
			<td rowspan="3">7.2. Hormona adrenocorticotrópica</td>
			<td>No.</td>
			<td>{{form.ha_no_1_mes}}</td>
			<td>{{form.ha_no_2_mes}}</td>
			<td>{{form.ha_no_3_mes}}</td>
			<td>{{form.ha_no_4_mes}}</td>
			<td>{{form.ha_no_5_mes}}</td>
			<td>{{form.ha_no_6_mes}}</td>
			<td>{{form.ha_no_7_mes}}</td>
			<td>{{form.ha_no_8_mes}}</td>
			<td>{{form.ha_no_9_mes}}</td>
			<td>{{form.ha_no_10_mes}}</td>
			<td>{{form.ha_no_11_mes}}</td>
			<td>{{form.ha_no_12_mes}}</td>
		</tr>
		<tr>
			<!-- <td></td> -->
			<td>Valor</td>
			<td>{{form.ha_valor_1_mes}}</td>
			<td>{{form.ha_valor_2_mes}}</td>
			<td>{{form.ha_valor_3_mes}}</td>
			<td>{{form.ha_valor_4_mes}}</td>
			<td>{{form.ha_valor_5_mes}}</td>
			<td>{{form.ha_valor_6_mes}}</td>
			<td>{{form.ha_valor_7_mes}}</td>
			<td>{{form.ha_valor_8_mes}}</td>
			<td>{{form.ha_valor_9_mes}}</td>
			<td>{{form.ha_valor_10_mes}}</td>
			<td>{{form.ha_valor_11_mes}}</td>
			<td>{{form.ha_valor_12_mes}}</td>
		</tr>
		<tr>
			<!-- <td></td> -->
			<td>pg/ml</td>
			<td>pg/ml</td>
			<td>pg/ml</td>
			<td>pg/ml</td>
			<td>pg/ml</td>
			<td>pg/ml</td>
			<td>pg/ml</td>
			<td>pg/ml</td>
			<td>pg/ml</td>
			<td>pg/ml</td>
			<td>pg/ml</td>
			<td>pg/ml</td>
			<td>pg/ml</td>
		</tr>
		<tr>
			<td rowspan="2" colspan="2">7.3. Control de la enfermedad.</td>
			<!-- <td></td> -->
			<td colspan="12">
				<div class="helptext">Dónde: 1 = Control alto / 2= Control intermedio / 3 = Control bajo / 4 = No sabe</div>
			</td>
			<!-- <td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td> -->
		</tr>
		<tr>
			<!-- <td></td> -->
			<!-- <td></td> -->
			<td>{{form.control_1_mes}}</td>
			<td>{{form.control_2_mes}}</td>
			<td>{{form.control_3_mes}}</td>
			<td>{{form.control_4_mes}}</td>
			<td>{{form.control_5_mes}}</td>
			<td>{{form.control_6_mes}}</td>
			<td>{{form.control_7_mes}}</td>
			<td>{{form.control_8_mes}}</td>
			<td>{{form.control_9_mes}}</td>
			<td>{{form.control_10_mes}}</td>
			<td>{{form.control_11_mes}}</td>
			<td>{{form.control_12_mes}}</td>
		</tr>
	</table>

	<table class="table table-condensed">
		<tr class="th_principal">
			<th>Pruebas de laboratorio</th>
			<th colspan="2">En los últimos 6 meses</th>
			<!-- <th></th> -->
			<th colspan="2">Entre 6 y 12 meses</th>
			<!-- <th></th> -->
		</tr>
		<tr class="th_secundario">
			<td>7.4. Otras pruebas de laboratorio</td>
			<td>Si = 1 / No = 2</td>
			<td>No. de Pruebas</td>
			<td>Si = 1 / No = 2</td>
			<td>No. de Pruebas</td>
		</tr>
		<tr>
			<td>7.4.1 Prueba de supresión de la dexametasona en dosis bajas.</td>
			<td>{{form.psd_si_6}}</td>
			<td>{{form.psd_pruebas_6}}</td>
			<td>{{form.psd_si_12}}</td>
			<td>{{form.psd_pruebas_12}}</td>
		</tr>
		<tr>
			<td>7.4.3 Niveles de ACTH en la sangre</td>
			<td>{{form.acth_si_6}}</td>
			<td>{{form.acth_pruebas_6}}</td>
			<td>{{form.acth_si_12}}</td>
			<td>{{form.acth_pruebas_12}}</td>
		</tr>
		<tr>
			<td>7.4.4 Prueba de metirapona</td>
			<td>{{form.metirapona_si_6}}</td>
			<td>{{form.metirapona_pruebas_6}}</td>
			<td>{{form.metirapona_si_12}}</td>
			<td>{{form.metirapona_pruebas_12}}</td>
		</tr>
		<tr>
			<td>7.4.5 Prueba de hormona liberadora de corticotropina (CRH)</td>
			<td>{{form.crh_si_6}}</td>
			<td>{{form.crh_pruebas_6}}</td>
			<td>{{form.crh_si_12}}</td>
			<td>{{form.crh_pruebas_12}}</td>
		</tr>
		<tr>
			<td>7.4.6 Muestra del seno petroso</td>
			<td>{{form.seno_petroso_si_6}}</td>
			<td>{{form.seno_petroso_pruebas_6}}</td>
			<td>{{form.seno_petroso_si_12}}</td>
			<td>{{form.seno_petroso_pruebas_12}}</td>
		</tr>
		<tr>
			<td>7.4.7 Tomografía computarizada</td>
			<td>{{form.tomografia_si_6}}</td>
			<td>{{form.tomografia_pruebas_6}}</td>
			<td>{{form.tomografia_si_12}}</td>
			<td>{{form.tomografia_pruebas_12}}</td>
		</tr>
		<tr>
			<td>7.4.8 Imagen por resonancia magnética</td>
			<td>{{form.res_magnetica_si_6}}</td>
			<td>{{form.res_magnetica_pruebas_6}}</td>
			<td>{{form.res_magnetica_si_12}}</td>
			<td>{{form.res_magnetica_pruebas_12}}</td>
		</tr>
		<tr>
			<td>7.4.9 Otra 1 ¿Cuál?{{form.otro1_cual}}</td>
			<td>{{form.otro1_si_6}}</td>
			<td>{{form.otro1_pruebas_6}}</td>
			<td>{{form.otro1_si_12}}</td>
			<td>{{form.otro1_pruebas_12}}</td>
		</tr>
		<tr>
			<td>7.4.10 Otra 2 ¿Cuál?{{form.otro2_cual}}</td>
			<td>{{form.otro2_si_6}}</td>
			<td>{{form.otro2_pruebas_6}}</td>
			<td>{{form.otro2_si_12}}</td>
			<td>{{form.otro2_pruebas_12}}</td>
			 
		</tr>
		<tr>
			<td colspan="3"><input type="submit" value="Guardar" class="btn btn-primary" id="btn_guardar" /></td>
			<td colspan="2"><input type="submit" value="Siguiente" class="btn btn-success" id="btn_siguiente" /></td>
		</tr>
	</table>


	
</form>

{% endblock %}