{% extends "menu.html" %}

{% block child %}

<div class="sub"><h3>2	Datos generales del paciente</h3></div>

<form action="" method="post" class="form-inline" role="form" id="FrmGenerales">{% csrf_token %}
	<table class="table table-condensed">
		<tr>
			<td><label for="{{form.edad.id}}">{{form.edad.label}}</label></td>
			<td>{{form.edad}}</td>
		</tr>
		<tr>
			<td><label for="{{form.sexo.id}}">{{form.sexo.label}}</label></td>
			<td>{{form.sexo}}</td>
		</tr>
		<tr>
			<td><label for="{{form.peso.id}}">{{form.peso.label}}</label></td>
			<td>{{form.peso}} Kg</td>
		</tr>
		<tr>
			<td><label for="{{form.talla.id}}">{{form.talla.label}}</label></td>
			<td>{{form.talla}} cm</td>
		</tr>
		<tr>
			<td><label for="{{form.imc.id}}">{{form.imc.label}}</label></td>
			<td>{{form.imc}}</td>
		</tr>
		<tr>
			<td><label for="{{form.fecha_diag.id}}">{{form.fecha_diag.label}}</label></td>
			<td>{{form.fecha_diag}}</td>
		</tr>

		<tr>
			<td><input type="submit" value="Guardar" class="btn btn-primary" id="btn_guardar"/></td>
			<td><input type="submit" value="Siguiente" class="btn btn-success" id="btn_siguiente"/></td>
		</tr>
	</table>
</form>

{% endblock %}