{% extends "menu.html" %}

{% block child %}

<div class="sub"><h3>4	Comorbilidades / Enfermedad de Cushing</h3></div>

<form action="" method="post" class="form-inline" role="form" id="FrmComorbilidades">{% csrf_token %}
	<table class="table table-condensed table-striped table-bordered">
		<thead>
			<tr class="th_principal">
				<th>Comorbilidades</th>
				<th>En los ultimos 6 meses</th>
				<th>Entre 6 y 12 meses</td>
			</tr>
			<tr class="th_secundario">
				<th>4.1	Metabólicas</th>
				<th>Si = 1 / No = 2</th>
				<th>Si = 1 / No = 2</td>
			</tr>
		</thead>
		<tr>
			<th><label for="{{form.dm1_6.id}}">{{form.dm1_6.label}}</label></th>
			<th>{{form.dm1_6}}</th>
			<th>{{form.dm1_12}}</th>
		</tr>
		<tr>
			<th><label for="{{form.dm2_6.id}}">{{form.dm2_6.label}}</label></th>
			<th>{{form.dm2_6}}</th>
			<th>{{form.dm2_12}}</th>
		</tr>
		<tr>
			<th><label for="{{form.sind_met_6.id}}">{{form.sind_met_6.label}}</label></th>
			<th>{{form.sind_met_6}}</th>
			<th>{{form.sind_met_12}}</th>
		</tr>
		<tr>
			<th><label for="{{form.int_glucosa_6.id}}">{{form.int_glucosa_6.label}}</label></th>
			<th>{{form.int_glucosa_6}}</th>
			<th>{{form.int_glucosa_12}}</th>
		</tr>
		<tr>
			<th><label for="{{form.obeisdad_6.id}}">{{form.obeisdad_6.label}}</label></th>
			<th>{{form.obeisdad_6}}</th>
			<th>{{form.obeisdad_12}}</th>
		</tr>
		<tr class="th_principal">
			<th>4.2	Cardiovasculares</th>
			<th>Si = 1 / No = 2</th>
			<th>Si = 1 / No = 2</td>
		</tr>
		<tr>
			<th><label for="{{form.hipertension_6.id}}">{{form.hipertension_6.label}}</label></th>
			<th>{{form.hipertension_6}}</th>
			<th>{{form.hipertension_12}}</th>
		</tr>
		<tr>
			<th><label for="{{form.colesterol_6.id}}">{{form.colesterol_6.label}}</label></th>
			<th>{{form.colesterol_6}}</th>
			<th>{{form.colesterol_12}}</th>
		</tr>
		<tr>
			<th><label for="{{form.trombosis_6.id}}">{{form.trombosis_6.label}}</label></th>
			<th>{{form.trombosis_6}}</th>
			<th>{{form.trombosis_12}}</th>
		</tr>
		<tr>
			<th><label for="{{form.infarto_miocardio_6.id}}">{{form.infarto_miocardio_6.label}}</label></th>
			<th>{{form.infarto_miocardio_6}}</th>
			<th>{{form.infarto_miocardio_12}}</th>
		</tr>
		<tr>
			<th><label for="{{form.angina_pecho_6.id}}">{{form.angina_pecho_6.label}}</label></th>
			<th>{{form.angina_pecho_6}}</th>
			<th>{{form.angina_pecho_12}}</th>
		</tr>
		<tr>
			<th><label for="{{form.cardiopatia_6.id}}">{{form.cardiopatia_6.label}}</label></th>
			<th>{{form.cardiopatia_6}}</th>
			<th>{{form.cardiopatia_12}}</th>
		</tr>
		<tr>
			<th><label for="{{form.cerebrovascular_6.id}}">{{form.cerebrovascular_6.label}}</label></th>
			<th>{{form.cerebrovascular_6}}</th>
			<th>{{form.cerebrovascular_12}}</th>
		</tr>
		<tr>
			<th><label for="{{form.isquemia_6.id}}">{{form.isquemia_6.label}}</label></th>
			<th>{{form.isquemia_6}}</th>
			<th>{{form.isquemia_12}}</th>
		</tr>
		<tr class="th_principal">
			<th>4.3	Infecciones</th>
			<th>Si = 1 / No = 2</th>
			<th>Si = 1 / No = 2</td>
		</tr>
		<tr>
			<th><label for="{{form.sepsis_6.id}}">{{form.sepsis_6.label}}</label></th>
			<th>{{form.sepsis_6}}</th>
			<th>{{form.sepsis_12}}</th>
		</tr>
		<tr>
			<th><label for="{{form.neumonia_6.id}}">{{form.neumonia_6.label}}</label></th>
			<th>{{form.neumonia_6}}</th>
			<th>{{form.neumonia_12}}</th>
		</tr>
		<tr>
			<th><label for="{{form.vias_urinarias_6.id}}">{{form.vias_urinarias_6.label}}</label></th>
			<th>{{form.vias_urinarias_6}}</th>
			<th>{{form.vias_urinarias_12}}</th>
		</tr>
		<tr>
			<th><label for="{{form.pytb_6.id}}">{{form.pytb_6.label}}</label></th>
			<th>{{form.pytb_6}}</th>
			<th>{{form.pytb_12}}</th>
		</tr>
		<tr>
			<th><label for="{{form.fungicas_6.id}}">{{form.fungicas_6.label}}</label></th>
			<th>{{form.fungicas_6}}</th>
			<th>{{form.fungicas_12}}</th>
		</tr>
		<tr class="th_principal">
			<th>4.4	Mentales</th>
			<th>Si = 1 / No = 2</th>
			<th>Si = 1 / No = 2</td>
		</tr>
		<tr>
			<th><label for="{{form.depresion_6.id}}">{{form.depresion_6.label}}</label></th>
			<th>{{form.depresion_6}}</th>
			<th>{{form.depresion_12}}</th>
		</tr>
		<tr>
			<th><label for="{{form.ansiedad_6.id}}">{{form.ansiedad_6.label}}</label></th>
			<th>{{form.ansiedad_6}}</th>
			<th>{{form.ansiedad_12}}</th>
		</tr>
		<tr>
			<th><label for="{{form.psicosis_6.id}}">{{form.psicosis_6.label}}</label></th>
			<th>{{form.psicosis_6}}</th>
			<th>{{form.psicosis_12}}</th>
		</tr>
		<tr class="th_principal">
			<th>4.5	Otras</th>
			<th>Si = 1 / No = 2</th>
			<th>Si = 1 / No = 2</td>
		</tr>
		<tr>
			<th><label for="{{form.cr_6.id}}">{{form.cr_6.label}}</label></th>
			<th>{{form.cr_6}}</th>
			<th>{{form.cr_12}}</th>
		</tr>
		<tr>
			<th><label for="{{form.otro1_6.id}}">{{form.otro1_6.label}}{{form.otro1_cual}}</label></th>
			<th>{{form.otro1_6}}</th>
			<th>{{form.otro1_12}}</th>
		</tr>
		<tr>
			<th><label for="{{form.otro2_6.id}}">{{form.otro2_6.label}}{{form.otro2_cual}}</label></th>
			<th>{{form.otro2_6}}</th>
			<th>{{form.otro2_12}}</th>
		</tr>
		<tr>
			<td><input type="submit" value="Guardar" class="btn btn-primary" id="btn_guardar" /></td>
			<td></td>	
			<td><input type="button" value="Siguiente" class="btn btn-success" id="btn_siguiente" onclick="window.location.href='/especialista'" /></td>
		</tr>
	</table>


	
</form>

{% endblock %}