{% extends "menu.html" %}

{% block child %}

<div class="main"><h2>Carga de la enfermedad de Cushing </h2></div>

<div class="sub"><h5>SELECCIÓN DE MÉDICOS PARTICIPANTES</h5></div>
<div class="sub"><h5>Datos del entrevistado</h5></div>

<form action="" method="post" class="form-horizontal" role="form" id="FrmEntrevista">{% csrf_token %}
	<table class="table table-condensed table-striped table-bordered">
		<tr>
			<td><label class="" for="">Folio</label></td>
			<td>{{form.folio_principal}}</td>
		</tr>
		<tr>
			<td><label class="" for="">{{form.monitor_clinico.label}}</label></td>
			<td>{{form.monitor_clinico}}</td>
		</tr>
		<tr>
			<td><label class="" for="">{{form.supervisor.label}}</label></td>
			<td>{{form.supervisor}}</td>
		</tr>
		<tr>
			<td><label class="" for="">{{form.fecha_llenado.label}}</label></td>
			<td>{{form.fecha_llenado}}</td>
		</tr>
		<tr>
			<td><label class="" for="">{{form.nombre_medico.label}}</label></td>
			<td>{{form.nombre_medico}}</td>
		</tr>
		<tr>
			<td><label class="" for="">{{form.especialidad.label}}</label></td>
			<td>{{form.especialidad}}</td>
		</tr>
		<tr>
			<td><label class="" for="">{{form.pais.label}}</label></td>
			<td>{{form.pais}}</td>
		</tr>
		<tr>
			<td><label class="" for="">{{form.institucion_publica.label}}</label></td>
			<td>{{form.institucion_publica}}</td>
		</tr>
		<tr>
			<td><label class="" for="">{{form.institucion_privada.label}}</label></td>
			<td>{{form.institucion_privada}}</td>
		</tr>
		<tr>
			<td><label class="" for="">{{form.telefono.label}}</label></td>
			<td>{{form.telefono}}</td>
		</tr>
		<tr>
			<td><label class="" for="">{{form.email.label}}</label></td>
			<td>{{form.email}}</td>
		</tr>

		<tr>
			<td><input type="submit" value="Guardar" class="btn btn-primary" id="btn_guardar"/></td>
			<td><input type="button" value="Siguiente" class="btn btn-success" id="btn_siguiente" onclick="window.location.href='/seleccion'"/></td>
		</tr>
	</table>
</form>

{% endblock %}