{% extends "menu.html" %}

{% block child %}

<div class="sub"><h3>6	Hospitalización / Enfermedad de Cushing</h3></div>

<p>Número de días al mes por tipo de hospitalización</p>

<form action="" method="post" class="form-inline" role="form" id="FrmHospitalizacion">{% csrf_token %}
	{{form.folio}}
	<table class="table table-condensed">
		<tr class="th_principal">
			<th>Meses</th>
			<th>1</th>
			<th>2</th>
			<th>3</th>
			<th>4</th>
			<th>5</th>
			<th>6</th>
			<th>7</th>
			<th>8</th>
			<th>9</th>
			<th>10</th>
			<th>11</th>
			<th>12</th>
		</tr>
		<tr>
			<td>6.1. Hospitalización</td>
			<td>{{form.hosp_1_mes}}</td>
			<td>{{form.hosp_2_mes}}</td>
			<td>{{form.hosp_3_mes}}</td>
			<td>{{form.hosp_4_mes}}</td>
			<td>{{form.hosp_5_mes}}</td>
			<td>{{form.hosp_6_mes}}</td>
			<td>{{form.hosp_7_mes}}</td>
			<td>{{form.hosp_8_mes}}</td>
			<td>{{form.hosp_9_mes}}</td>
			<td>{{form.hosp_10_mes}}</td>
			<td>{{form.hosp_11_mes}}</td>
			<td>{{form.hosp_12_mes}}</td>
		</tr>
		<tr>
			<td>6.2. Cuidados Intensivos</td>
			<td>{{form.ci_1_mes}}</td>
			<td>{{form.ci_2_mes}}</td>
			<td>{{form.ci_3_mes}}</td>
			<td>{{form.ci_4_mes}}</td>
			<td>{{form.ci_5_mes}}</td>
			<td>{{form.ci_6_mes}}</td>
			<td>{{form.ci_7_mes}}</td>
			<td>{{form.ci_8_mes}}</td>
			<td>{{form.ci_9_mes}}</td>
			<td>{{form.ci_10_mes}}</td>
			<td>{{form.ci_11_mes}}</td>
			<td>{{form.ci_12_mes}}</td>
		</tr>
		<tr>
			<td colspan="6"><input type="submit" value="Guardar" class="btn btn-primary" id="btn_guardar" /></td>
			<td colspan="7"><input type="button" value="Siguiente" class="btn btn-success" id="btn_siguiente"  onclick="window.location.href='/laboratorio'" /></td>
		</tr>
	</table>


	
</form>

{% endblock %}