{% extends "menu.html" %}

{% block child %}

<article class="main"><h4>3	Síntomas / Enfermedad de Cushing</h4></article>

<form action="" method="post" class="form-inline" role="form" id="FrmSintomas">{% csrf_token %}
	{{form.folio}}
	<table class="table table-condensed table-striped table-bordered">
		<thead>
			<tr class="th_principal">
				<th>Síntomas</th>
				<th>De 0 a 6 meses</th>
				<th>De 6 a 12 meses</td>
			</tr>
		</thead>
		<tr class="th_secundario">
			<td colspan="3">3.1	Complexión</td>
			<!-- <td></td>
			<td></td> -->
		</tr>
		<tr>
			<td><label for="{{form.cara_luna_6.id}}">{{form.cara_luna_6.label}}</label></td>
			<td class="opciones">{{form.cara_luna_6}}</td>
			<td class="opciones">{{form.cara_luna_12}}</td>
		</tr>
		<tr>
			<td><label for="{{form.ojos_jinchados_6.id}}">{{form.ojos_jinchados_6.label}}</label></td>
			<td class="opciones">{{form.ojos_jinchados_6}}</td>
			<td class="opciones">{{form.ojos_jinchados_12}}</td>
		</tr>
		<tr>
			<td><label for="{{form.tez_purpuras_6.id}}">{{form.tez_purpuras_6.label}}</label></td>
			<td class="opciones">{{form.tez_purpuras_6}}</td>
			<td class="opciones">{{form.tez_purpuras_12}}</td>
		</tr>
		<tr>
			<td><label for="{{form.acne_6.id}}">{{form.acne_6.label}}</label></td>
			<td class="opciones">{{form.acne_6}}</td>
			<td class="opciones">{{form.acne_12}}</td>
		</tr>
		<tr>
			<td><label for="{{form.estrias_6.id}}">{{form.estrias_6.label}}</label></td>
			<td class="opciones">{{form.estrias_6}}</td>
			<td class="opciones">{{form.estrias_12}}</td>
		</tr>
		<tr>
			<td><label for="{{form.moretones_6.id}}">{{form.moretones_6.label}}</label></td>
			<td class="opciones">{{form.moretones_6}}</td>
			<td class="opciones">{{form.moretones_12}}</td>
		</tr>
	</table>
	<table class="table table-condensed table-striped table-bordered">
		<thead>
			<tr class="th_secundario">
				<td colspan="3">3.2	Metabolismo</td>
				<!-- <td></td>
				<td></td> -->
			</tr>
		</thead>
		<tr>
			<td><label for="{{form.aumento_abdomen_6.id}}">{{form.aumento_abdomen_6.label}}</label></td>
			<td class="opciones">{{form.aumento_abdomen_6}}</td>
			<td class="opciones">{{form.aumento_abdomen_12}}</td>
		</tr>
		<tr>
			<td><label for="{{form.joroba_6.id}}">{{form.joroba_6.label}}</label></td>
			<td class="opciones">{{form.joroba_6}}</td>
			<td class="opciones">{{form.joroba_12}}</td>
		</tr>
		<tr>
			<td><label for="{{form.temperatura_baja_6.id}}">{{form.temperatura_baja_6.label}}</label></td>
			<td class="opciones">{{form.temperatura_baja_6}}</td>
			<td class="opciones">{{form.temperatura_baja_12}}</td>
		</tr>
		<tr>
			<td><label for="{{form.sensibilidad_frio_6.id}}">{{form.sensibilidad_frio_6.label}}</label></td>
			<td class="opciones">{{form.sensibilidad_frio_6}}</td>
			<td class="opciones">{{form.sensibilidad_frio_12}}</td>
		</tr>
		<tr>
			<td><label for="{{form.fatiga_6.id}}">{{form.fatiga_6.label}}</label></td>
			<td class="opciones">{{form.fatiga_6}}</td>
			<td class="opciones">{{form.fatiga_12}}</td>
		</tr>
	</table>
	<table class="table table-condensed table-striped table-bordered">
		<thead>
			<tr class="th_secundario">
				<td colspan="3">3.3	Musculoesquelético</td>
				<!-- <td></td>
				<td></td> -->
			</tr>
		</thead>
		<tr>
			<td><label for="{{form.osteopenia_6.id}}">{{form.osteopenia_6.label}}</label></td>
			<td class="opciones">{{form.osteopenia_6}}</td>
			<td class="opciones">{{form.osteopenia_12}}</td>
		</tr>
		<tr>
			<td><label for="{{form.osteoporosis_6.id}}">{{form.osteoporosis_6.label}}</label></td>
			<td class="opciones">{{form.osteoporosis_6}}</td>
			<td class="opciones">{{form.osteoporosis_12}}</td>
		</tr>
		<tr>
			<td><label for="{{form.ablan_col_vertebral_6.id}}">{{form.ablan_col_vertebral_6.label}}</label></td>
			<td class="opciones">{{form.ablan_col_vertebral_6}}</td>
			<td class="opciones">{{form.ablan_col_vertebral_12}}</td>
		</tr>
		<tr>
			<td><label for="{{form.dolores_espalda_6.id}}">{{form.dolores_espalda_6.label}}</label></td>
			<td class="opciones">{{form.dolores_espalda_6}}</td>
			<td class="opciones">{{form.dolores_espalda_12}}</td>
		</tr>
		<tr>
			<td><label for="{{form.fracturas_6.id}}">{{form.fracturas_6.label}}</label></td>
			<td class="opciones">{{form.fracturas_6}}</td>
			<td class="opciones">{{form.fracturas_12}}</td>
		</tr>
		<tr>
			<td><label for="{{form.debilidad_muscular_6.id}}">{{form.debilidad_muscular_6.label}}</label></td>
			<td class="opciones">{{form.debilidad_muscular_6}}</td>
			<td class="opciones">{{form.debilidad_muscular_12}}</td>
		</tr>
		<tr>
			<td><label for="{{form.debilidad_extrem_6.id}}">{{form.debilidad_extrem_6.label}}</label></td>
			<td class="opciones">{{form.debilidad_extrem_6}}</td>
			<td class="opciones">{{form.debilidad_extrem_12}}</td>
		</tr>
	</table>
	<table class="table table-condensed table-striped table-bordered">
		<thead>
			<tr class="th_secundario">
				<td colspan="3">3.4	Solo de mujeres</td>
				<!-- <td></td>
				<td></td> -->
			</tr>
		</thead>
		<tr>
			<td><label for="{{form.hirsutismo_6.id}}">{{form.hirsutismo_6.label}}</label></td>
			<td class="opciones">{{form.hirsutismo_6}}</td>
			<td class="opciones">{{form.hirsutismo_12}}</td>
		</tr>
		<tr>
			<td><label for="{{form.ciclo_mesn_6.id}}">{{form.ciclo_mesn_6.label}}</label></td>
			<td class="opciones">{{form.ciclo_mesn_6}}</td>
			<td class="opciones">{{form.ciclo_mesn_12}}</td>
		</tr>
	</table>
	<table class="table table-condensed table-striped table-bordered">
		<thead>
			<tr class="th_secundario">
				<td colspan="3">3.5	Solo de hombres</td>
				<!-- <td></td>
				<td></td> -->
			</tr>
		</thead>
		<tr>
			<td><label for="{{form.infertilidad_6.id}}">{{form.infertilidad_6.label}}</label></td>
			<td class="opciones">{{form.infertilidad_6}}</td>
			<td class="opciones">{{form.infertilidad_12}}</td>
		</tr>
		<tr>
			<td><label for="{{form.disminucion_sexual_6.id}}">{{form.disminucion_sexual_6.label}}</label></td>
			<td class="opciones">{{form.disminucion_sexual_6}}</td>
			<td class="opciones">{{form.disminucion_sexual_12}}</td>
		</tr>
		<tr>
			<td><label for="{{form.impotencia_6.id}}">{{form.impotencia_6.label}}</label></td>
			<td class="opciones">{{form.impotencia_6}}</td>
			<td class="opciones">{{form.impotencia_12}}</td>
		</tr>
	</table>
	<table class="table table-condensed table-striped table-bordered">
		<thead>
			<tr class="th_secundario">
				<td colspan="3">3.6	Otros</td>
				<!-- <td></td>
				<td></td> -->
			</tr>
		</thead>
		<tr>
			<td><label for="{{form.deficit_cognitivos_6.id}}">{{form.deficit_cognitivos_6.label}}</label></td>
			<td class="opciones">{{form.deficit_cognitivos_6}}</td>
			<td class="opciones">{{form.deficit_cognitivos_12}}</td>
		</tr>
		<tr>
			<td><label for="{{form.otro1_6.id}}">{{form.otro1_6.label}}{{form.otro1_cual}}</label></td>
			<td class="opciones">{{form.otro1_6}}</td>
			<td class="opciones">{{form.otro1_12}}</td>
		</tr>
		<tr>
			<td><label for="{{form.otro2_6.id}}">{{form.otro2_6.label}}{{form.otro2_cual}}</label></td>
			<td class="opciones">{{form.otro2_6}}</td>
			<td class="opciones">{{form.otro2_12}}</td>
		</tr>

		<tr>
			<td><input type="submit" value="Guardar" class="boton" id="btn_guardar" /></td>
			<td></td>	
			<td><input type="button" value="Siguiente" class="boton" id="btn_siguiente" onclick="window.location.href='/comorbilidades'" /></td>
		</tr>
	</table>


	
</form>

{% endblock %}