{% extends "menu.html" %}

{% block child %}

<section class="main"><h4>9 Tratamiento farmacológico (Comorbilidades)</h4></section>

<form action="" method="post" class="form-inline" role="form" id="FrmComorb">{% csrf_token %}
	{{form.folio}}
	{{form.tx}}
	<table class="table table-condensed table-striped table-bordered">
		<thead>
			<tr class="th_principal">
				<th>Comorbilidades</th>
				<th>En los últimos 6 meses</th>
				<th>Entre 6 y 12 meses</th>
			</tr>
			<tr class="th_secundario">
				<th>9.6	Mentales</th>
				<th>Si = 1 / No = 2</th>
				<th>Si = 1 / No = 2</th>
			</tr>
		</thead>
		<tr>
			<td>9.6.1 Depresión. ¿Cuál?{{form.ment_depre_cual}}</td>
			<td>{{form.ment_depre_6}}</td>
			<td>{{form.ment_depre_12}}</td>
		</tr>
		<tr>
			<td>9.6.2 Ansiedad. ¿Cuál?{{form.ment_ansi_cual}}</td>
			<td>{{form.ment_ansi_6}}</td>
			<td>{{form.ment_ansi_12}}</td>
		</tr>
		<tr>
			<td>9.6.3 Psicosis. ¿Cuál?{{form.ment_psico_cual}}</td>
			<td>{{form.ment_psico_6}}</td>
			<td>{{form.ment_psico_12}}</td>
		</tr>
		<tr class="th_secundario">
			<th>9.7	Otras</th>
			<th>Si = 1 / No = 2</th>
			<th>Si = 1 / No = 2</th>
		</tr>
		<tr>
			<td>9.7.1 Cálculos renales. ¿Cuál?{{form.ot_cr_cual}}</td>
			<td>{{form.ot_cr_6}}</td>
			<td>{{form.ot_cr_12}}</td>
		</tr>
		<tr>
			<td>9.7.2 Otro ¿Cuál?{{form.ot_otra1_cual}}</td>
			<td>{{form.ot_otra1_6}}</td>
			<td>{{form.ot_otra1_12}}</td>
		</tr>
		<tr>
			<td>9.7.3 Otro ¿Cuál?{{form.ot_otra2_cual}}</td>
			<td>{{form.ot_otra2_6}}</td>
			<td>{{form.ot_otra2_12}}</td>
		</tr>
		<tr>
			<td colspan="2"><input type="submit" value="Guardar" class="boton" id="btn_guardar" /></td>
			<td><input type="button" value="Siguiente" class="boton" id="btn_siguiente"  onclick="window.location.href='/complicaciones'" /></td>
		</tr>
	</table>

<div class="modal fade" id="TxModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">Captura de tratamientos</h4>
			</div>
			<div class="modal-body">
				<table class="table table-condensed" id='tratamientos'>
					<tr>
						<th>Clase</th>
						<th>Tratamiento (Principio activo)</th>
						<th>Meses</th>
						<th>Fecha</th>
						<th>Dosis (mg)</th>
						<th>Ciclos</th>
						<th>Intervalos entre ciclos</th>
						<th># de ciclos al año</th>
						<th>Cateterismo</th>
					</tr>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" id="CierraModal">Cerrar</button>
				<button type="button" class="btn btn-primary" id="GuardarModal">Guardar</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

	
</form>

{% endblock %}