{% extends "menu.html" %}

{% block child %}

<article class="main"><h4>2	Datos generales del paciente</h4></article>

<form action="" method="post" class="form-inline" role="form" id="FrmGenerales">{% csrf_token %}
	<table class="table table-condensed table-striped table-bordered">
		{{form.folio}}
		<tr>
			<td><label for="{{form.edad.id}}">{{form.edad.label}}</label></td>
			<td>{{form.edad}}</td>
		</tr>
		<tr>
			<td><label for="{{form.sexo.id}}">{{form.sexo.label}}</label></td>
			<td>{{form.sexo}}</td>
		</tr>
		<tr>
			<td><label for="{{form.peso.id}}">{{form.peso.label}}</label></td>
			<td>{{form.peso}} Kg</td>
		</tr>
		<tr>
			<td><label for="{{form.talla.id}}">{{form.talla.label}}</label></td>
			<td>{{form.talla}} cm</td>
		</tr>
		<tr>
			<td><label for="{{form.imc.id}}">{{form.imc.label}}</label></td>
			<td>{{form.imc}}</td>
		</tr>
		<tr>
			<td><label for="{{form.fecha_diag.id}}">{{form.fecha_diag.label}}</label></td>
			<td>{{form.fecha_diag}}</td>
		</tr>
		<tr>
			<td><label for="{{form.fecha_inicio_tx.id}}">{{form.fecha_inicio_tx.label}}</label></td>
			<td>{{form.fecha_inicio_tx}}</td>
		</tr>
		<tr>
			<td><label for="{{form.fecha_cirugia.id}}">{{form.fecha_cirugia.label}}</label></td>
			<td>{{form.fecha_cirugia}}</td>
		</tr>

		<tr>
			<td><input type="submit" value="Guardar" class="boton" id="btn_guardar"/></td>
			<td><input type="button" value="Siguiente" class="boton" id="btn_siguiente" onclick="window.location.href='/sintomas'" /></td>
		</tr>
	</table>
</form>

{% endblock %}