{% extends "menu.html" %}

{% block child %}

<div class="sub"><h3>9	Tratamiento farmacológico </h3></div>

<form action="" method="post" class="form-inline" role="form" id="FrmTx">{% csrf_token %}
	{{form.tx}}
	{{form.folio}}
	<table class="table table-condensed table-striped table-bordered">
		<thead>
		<tr class="th_principal">
			<th>Tratamientos</th>
			<th>En los últimos 6 meses</th>
			<th>Entre 6 y 12 meses</th>
		</tr>
		<tr class="th_secundario">
			<th>9.2	Enfermedad de Cushing</th>
			<th>Si = 1 / No = 2</th>
			<th>Si = 1 / No = 2</th>
		</tr>
		</thead>
		<tr>
			<td>9.2.1 Ketoconazol</td>
			<td>{{form.keto_6}}</td>
			<td>{{form.keto_12}}</td>
		</tr>
		<tr>
			<td>9.2.2 Cabergolina</td>
			<td>{{form.caber_6}}</td>
			<td>{{form.caber_12}}</td>
		</tr>
		<tr>
			<td>9.2.3 Mifepristona</td>
			<td>{{form.mife_6}}</td>
			<td>{{form.mife_12}}</td>
		</tr>
		<tr>
			<td>9.2.4 Otro 1 ¿Cuál?{{form.otro1_cual}}</td>
			<td>{{form.otro1_6}}</td>
			<td>{{form.otro1_12}}</td>
		</tr>
		<tr>
			<td>9.2.5 Otro 2 ¿Cuál?{{form.otro2_cual}}</td>
			<td>{{form.otro2_6}}</td>
			<td>{{form.otro2_12}}</td>
		</tr>
		<tr>
			<td>9.2.6 Otro 3 ¿Cuál?{{form.otro3_cual}}</td>
			<td>{{form.otro3_6}}</td>
			<td>{{form.otro3_12}}</td>
		</tr>
		<thead>
		<tr class="th_secundario">
			<th>9.3	Diabetes</th>
			<th>Si = 1 / No = 2</th>
			<th>Si = 1 / No = 2</th>
		</tr>
		</thead>
		<tr>
			<td>9.3.1 Metforminas</td>
			<td>{{form.metfo_6}}</td>
			<td>{{form.metfo_12}}</td>
		</tr>
		<tr>
			<td>9.3.2 Sulfonilureas</td>
			<td>{{form.sulfo_6}}</td>
			<td>{{form.sulfo_12}}</td>
		</tr>
		<tr>
			<td>9.3.3 Tiazolidinedionas</td>
			<td>{{form.tiazo_6}}</td>
			<td>{{form.tiazo_12}}</td>
		</tr>
		<tr>
			<td>9.3.4 Inhibidores DPP-4</td>
			<td>{{form.dpp4_6}}</td>
			<td>{{form.dpp4_12}}</td>
		</tr>
		<tr>
			<td>9.3.5 Análogos del GLP-1</td>
			<td>{{form.glp1_6}}</td>
			<td>{{form.glp1_12}}</td>
		</tr>
		<tr>
			<td>9.3.6 Insulinas de acción rápida</td>
			<td>{{form.insu_rapida_6}}</td>
			<td>{{form.insu_rapida_12}}</td>
		</tr>
		<tr>
			<td>9.3.7 Insulinas de acción lenta</td>
			<td>{{form.insu_lenta_6}}</td>
			<td>{{form.insu_lenta_12}}</td>
		</tr>
		<tr class="th_secundario">
			<th>9.4	Cardiovasculares</th>
			<th>Si = 1 / No = 2</th>
			<th>Si = 1 / No = 2</th>
		</tr>
		<tr>
			<td>9.4.1 Inhibidores enzima convertidora angiotensina</td>
			<td>{{form.ieca_6}}</td>
			<td>{{form.ieca_12}}</td>
		</tr>
		<tr>
			<td>9.4.2 Bloqueadores receptores de la angiotensina</td>
			<td>{{form.bra_6}}</td>
			<td>{{form.bra_12}}</td>
		</tr>
		<tr>
			<td>9.4.3 Beta bloqueadores</td>
			<td>{{form.beta_bloq_6}}</td>
			<td>{{form.beta_bloq_12}}</td>
		</tr>
		<tr>
			<td>9.4.4 Fibratos</td>
			<td>{{form.fibratos_6}}</td>
			<td>{{form.fibratos_12}}</td>
		</tr>
		<tr>
			<td>9.4.5 Bloqueadores de los canales de calcio</td>
			<td>{{form.bcc_6}}</td>
			<td>{{form.bcc_12}}</td>
		</tr>
		<tr>
			<td>9.4.6 Diurético</td>
			<td>{{form.diuretico_6}}</td>
			<td>{{form.diuretico_12}}</td>
		</tr>
		<tr>
			<td>9.4.7 Inhibidores de la absorción del colesterol</td>
			<td>{{form.iac_6}}</td>
			<td>{{form.iac_12}}</td>
		</tr>
		<tr>
			<td>9.4.8 Niacina (Vitamina B3)</td>
			<td>{{form.vit_b3_6}}</td>
			<td>{{form.vit_b3_12}}</td>
		</tr>
		<tr>
			<td>9.4.9 Nitratos</td>
			<td>{{form.nitrato_6}}</td>
			<td>{{form.nitrato_12}}</td>
		</tr>
		<tr>
			<td>9.4.10 Antiplaquetarios</td>
			<td>{{form.antiplaq_6}}</td>
			<td>{{form.antiplaq_12}}</td>
		</tr>
		<tr>
			<td>9.4.11 Ácido acetilsalicílico</td>
			<td>{{form.acido_acetil_6}}</td>
			<td>{{form.acido_acetil_12}}</td>
		</tr>
		<tr>
			<td>9.4.12 Estatinas</td>
			<td>{{form.estatina_6}}</td>
			<td>{{form.estatina_12}}</td>
		</tr>
		<tr>
			<td>9.4.13 Secuestrantes de ácidos biliares (resinas)</td>
			<td>{{form.sab_6}}</td>
			<td>{{form.sab_12}}</td>
		</tr>
		<tr class="th_secundario">
			<th>9.5	Infecciones</th>
			<th>Si = 1 / No = 2</th>
			<th>Si = 1 / No = 2</th>
		</tr>
		<tr>
			<td>9.5.1 Sepsis. ¿Cuál?{{form.sepsis_cual}}</td>
			<td>{{form.sepsis_6}}</td>
			<td>{{form.sepsis_12}}</td>
		</tr>
		<tr>
			<td>9.5.2 Neumonía. ¿Cuál?{{form.neumonia_cual}}</td>
			<td>{{form.neumonia_6}}</td>
			<td>{{form.neumonia_12}}</td>
		</tr>
		<tr>
			<td>9.5.3 Vías urinarias. ¿Cuál?{{form.vias_cual}}</td>
			<td>{{form.vias_6}}</td>
			<td>{{form.vias_12}}</td>
		</tr>
		<tr>
			<td>9.5.4 Piel y tejidos blandos. ¿Cuál?{{form.ptb_cual}}</td>
			<td>{{form.ptb_6}}</td>
			<td>{{form.ptb_12}}</td>
		</tr>
		<tr>
			<td>9.5.5 Fúngicas. ¿Cuál?{{form.fung_cual}}</td>
			<td>{{form.fungi_6}}</td>
			<td>{{form.fungi_12}}</td>
		</tr>
		<tr>
			<td colspan="2"><input type="submit" value="Guardar" class="btn btn-primary" id="btn_guardar" /></td>
			<td><input type="button" value="Siguiente" class="btn btn-success" id="btn_siguiente"  onclick="window.location.href='/comorb_tx'" /></td>
		</tr>
	</table>
</form>

<div class="modal fade" id="TxModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">Captura de tratamientos</h4>
			</div>
			<div class="modal-body">
				<table class="table table-condensed" id='tratamientos'>
					<tr>
						<th>Tratamiento (Principio activo)</th>
						<th>Temporalidad</th>
						<th>Dosis (mg)</th>
						<th>Ciclos</th>
						<th>Intervalos entre ciclos</th>
						<th># de ciclos al año</th>
						<th>Cateterismo</th>
					</tr>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" id="CierraModal">Cerrar</button>
				<button type="button" class="btn btn-primary" id="GuardarModal">Guardar</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}