{% extends "menu.html" %}

{% block child %}

<article class="main"><h4>9	Tratamiento farmacológico </h4></article>

<form action="" method="post" class="form-inline" role="form" id="FrmTx">{% csrf_token %}
	{{form.tx}}
	{{form.folio}}
	<input type="hidden" value="{{f_diag|date:'d/m/Y'}}" id="f_diag">
	<table class="table table-condensed table-striped table-bordered">
		<thead>
			<tr class="th_principal">
				<th>Tratamientos</th>
				<th>De 0 a 6 meses</th>
				<th>De 7 a 12 mese</th>
			</tr>
			<tr class="th_secundario">
				<td colspan="3">9.2	Enfermedad de Cushing</td>
				<!-- <th></th>
				<th></th> -->
			</tr>
		</thead>
		<tr>
			<td>9.2.1 Ketoconazol</td>
			<td>{{form.ec_keto_6}}</td>
			<td>{{form.ec_keto_12}}</td>
		</tr>
		<tr>
			<td>9.2.2 Cabergolina</td>
			<td>{{form.ec_caber_6}}</td>
			<td>{{form.ec_caber_12}}</td>
		</tr>
		<tr>
			<td>9.2.3 Mifepristona</td>
			<td>{{form.ec_mife_6}}</td>
			<td>{{form.ec_mife_12}}</td>
		</tr>
		<tr>
			<td>9.2.4 Otros ¿Cuantos? {{form.ec_otro_cuantos}}</td>
			<td>{{form.ec_otro_6}}</td>
			<td>{{form.ec_otro_12}}</td>
		</tr>
		<thead>
		<tr class="th_secundario">
			<td colspan="3">9.3	Diabetes</td>
			<!-- <th></th>
				<th></th> -->
		</tr>
		</thead>
		<tr>
			<td>9.3.1 Metforminas</td>
			<td>{{form.diab_metfo_6}}</td>
			<td>{{form.diab_metfo_12}}</td>
		</tr>
		<tr>
			<td>9.3.2 Sulfonilureas</td>
			<td>{{form.diab_sulfo_6}}</td>
			<td>{{form.diab_sulfo_12}}</td>
		</tr>
		<tr>
			<td>9.3.3 Tiazolidinedionas</td>
			<td>{{form.diab_tiazo_6}}</td>
			<td>{{form.diab_tiazo_12}}</td>
		</tr>
		<tr>
			<td>9.3.4 Inhibidores DPP-4</td>
			<td>{{form.diab_dpp4_6}}</td>
			<td>{{form.diab_dpp4_12}}</td>
		</tr>
		<tr>
			<td>9.3.5 Análogos del GLP-1</td>
			<td>{{form.diab_glp1_6}}</td>
			<td>{{form.diab_glp1_12}}</td>
		</tr>
		<tr>
			<td>9.3.6 Insulinas de acción rápida</td>
			<td>{{form.diab_insuRapida_6}}</td>
			<td>{{form.diab_insuRapida_12}}</td>
		</tr>
		<tr>
			<td>9.3.7 Insulinas de acción lenta</td>
			<td>{{form.diab_insuLenta_6}}</td>
			<td>{{form.diab_insuLenta_12}}</td>
		</tr>
		<tr class="th_secundario">
			<td colspan="3">9.4	Cardiovasculares</td>
			<!-- <th></th>
				<th></th> -->
		</tr>
		<tr>
			<td>9.4.1 Inhibidores enzima convertidora angiotensina</td>
			<td>{{form.car_ieca_6}}</td>
			<td>{{form.car_ieca_12}}</td>
		</tr>
		<tr>
			<td>9.4.2 Bloqueadores receptores de la angiotensina</td>
			<td>{{form.car_bra_6}}</td>
			<td>{{form.car_bra_12}}</td>
		</tr>
		<tr>
			<td>9.4.3 Beta bloqueadores</td>
			<td>{{form.car_betaBloq_6}}</td>
			<td>{{form.car_betaBloq_12}}</td>
		</tr>
		<tr>
			<td>9.4.4 Fibratos</td>
			<td>{{form.car_fibratos_6}}</td>
			<td>{{form.car_fibratos_12}}</td>
		</tr>
		<tr>
			<td>9.4.5 Bloqueadores de los canales de calcio</td>
			<td>{{form.car_bcc_6}}</td>
			<td>{{form.car_bcc_12}}</td>
		</tr>
		<tr>
			<td>9.4.6 Diurético</td>
			<td>{{form.car_diuretico_6}}</td>
			<td>{{form.car_diuretico_12}}</td>
		</tr>
		<tr>
			<td>9.4.7 Inhibidores de la absorción del colesterol</td>
			<td>{{form.car_iac_6}}</td>
			<td>{{form.car_iac_12}}</td>
		</tr>
		<tr>
			<td>9.4.8 Niacina (Vitamina B3)</td>
			<td>{{form.car_vit_b3_6}}</td>
			<td>{{form.car_vit_b3_12}}</td>
		</tr>
		<tr>
			<td>9.4.9 Nitratos</td>
			<td>{{form.car_nitrato_6}}</td>
			<td>{{form.car_nitrato_12}}</td>
		</tr>
		<tr>
			<td>9.4.10 Antiplaquetarios</td>
			<td>{{form.car_antiplaq_6}}</td>
			<td>{{form.car_antiplaq_12}}</td>
		</tr>
		<tr>
			<td>9.4.11 Ácido acetilsalicílico</td>
			<td>{{form.car_acidoAcetil_6}}</td>
			<td>{{form.car_acidoAcetil_12}}</td>
		</tr>
		<tr>
			<td>9.4.12 Estatinas</td>
			<td>{{form.car_estatina_6}}</td>
			<td>{{form.car_estatina_12}}</td>
		</tr>
		<tr>
			<td>9.4.13 Secuestrantes de ácidos biliares (resinas)</td>
			<td>{{form.car_sab_6}}</td>
			<td>{{form.car_sab_12}}</td>
		</tr>
		<tr class="th_secundario">
			<td colspan="3">9.5	Infecciones</td>
			<!-- <th></th>
				<th></th> -->
		</tr>
		<tr>
			<td>9.5.1 Sepsis. ¿Cuantos? {{form.inf_sepsis_cuantos}}</td>
			<td>{{form.inf_sepsis_6}}</td>
			<td>{{form.inf_sepsis_12}}</td>
		</tr>
		<tr>
			<td>9.5.2 Neumonía. ¿Cuantos? {{form.inf_neumonia_cuantos}}</td>
			<td>{{form.inf_neumonia_6}}</td>
			<td>{{form.inf_neumonia_12}}</td>
		</tr>
		<tr>
			<td>9.5.3 Vías urinarias. ¿Cuantos? {{form.inf_vias_cuantos}}</td>
			<td>{{form.inf_vias_6}}</td>
			<td>{{form.inf_vias_12}}</td>
		</tr>
		<tr>
			<td>9.5.4 Piel y tejidos blandos. ¿Cuantos? {{form.inf_ptb_cuantos}}</td>
			<td>{{form.inf_ptb_6}}</td>
			<td>{{form.inf_ptb_12}}</td>
		</tr>
		<tr>
			<td>9.5.5 Fúngicas. ¿Cuantos? {{form.inf_fungi_cuantos}}</td>
			<td>{{form.inf_fungi_6}}</td>
			<td>{{form.inf_fungi_12}}</td>
		</tr>
		<tr>
			<td colspan="2"><input type="submit" value="Guardar" class="boton" id="btn_guardar" /></td>
			<td><input type="button" value="Siguiente" class="boton" id="btn_siguiente"  onclick="window.location.href='/comorb_tx'" /></td>
		</tr>
	</table>
</form>

<div class="modal fade" id="TxModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Captura de tratamientos</h4>
			</div>
			<div class="modal-body">
				<table class="table table-condensed table-striped" id='tratamientos'>
					<thead>
						<tr class="th_principal">
							<td></td>
							<td></td>
							<td>Tratamiento</td>
							<td>Fecha</td>
							<td>Dosis (mg)</td>
							<td>Cada cuantas horas</td>
							<td>Durante cuantas horas</td>
							<td>Intervalos entre ciclos (semanas)</td>
							<td># de ciclos al año</td>
							<td>Cateterismo</td>
						</tr>
					</thead>
					<tbody>
						
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" id="CierraModal">Cerrar</button>
				<button type="button" class="btn btn-primary" id="GuardarModal">Guardar</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->


{% endblock %}
