/*Elementos principales*/
body
{
	padding: 0.5em 3em 0 3em;
	/*background-image: url(../img/bg.png);*/
	background-size: 100%;
	background-repeat: no-repeat;
}

header
{
	margin: 0 0 0 0;
}
h1 ,h2, h3 ,h4, h5, h6
{
	text-align: center;
}
p
{
	width: 80%;
	margin: 0 0 1em 1em;
}
form
{
	font-family: 'Roboto', sans-serif;
}
table
{
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

tr.th_principal
{
	background-color: rgba(0,32,96,0.4);
	color: black;
	text-align: center;
	font-weight: bold;
}
tr.th_secundario
{
	text-align: center;
	color: black;
	font-weight: bold;
}

td.opciones
{
	width: 150px;
}

/*DatePicker*/
#ui-datepicker-title select
{
	color: black;
}
/*Termina DatePicker*/

/*Login*/
#loginform
{
	width: 30%;
	margin: auto;
	margin-top: 5em;
	border-style: groove;
	border-color: #1F84E8;
	border-radius: 5px;	
	padding: 3em 2em 4em 2em;
}

#loginform input
{
	margin: auto;
}

#loginform div
{
	width: 30%;
	margin: auto;
}

#logo
{
	width: 300px;
	margin: 0 0 2em 0;
}
/*Termina login*/

/*Menu*/
#menu
{
	margin: 0.5em auto;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: rgba(51,91,116,.5);

	-webkit-box-shadow: 2px 2px 2px rgba(51,91,116,.5), 0px 5px 10px rgba(0,0,0,.3);
	-moz-box-shadow: 2px 2px 2px rgba(51,91,116,.5), 0px 5px 10px rgba(0,0,0,.3);
	box-shadow: 2px 2px 2px rgba(51,91,116,.5), 0px 5px 10px rgba(0,0,0,.3);
}
#menu section
{
	display: inline-block;
	vertical-align: top;
}
#menu section.logo_menu
{
	width: 15%;
	margin: 1em 6em 0 4em;
}


img.solo_logo
{
	max-width: 120px;
}


/*Termina menu*/

/*Menu 2*/

* {
	margin: 0;
	padding: 0;
	outline: none;	
}

ul {
	list-style: none;	
}

#navigation {
	margin: 1em 0;	
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	color: #444;
}

#navigation:after {
	clear: both;
    content: ".";
    height: 0;
    visibility: hidden;
}

#navigation ul {	
	float: left;
	border-radius: 100px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.07);
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.07);
    overflow: hidden;
}

#navigation li {
	float: left;
	border-style: solid; 
	border-width: 1px;
    border-color: #BABABA #BABABA #BABABA #FFF;
	box-shadow: 0 1px rgba(255,255,255,1) inset;
	-webkit-box-shadow: 0 1px rgba(255,255,255,1) inset;
	background: #F7F7F7; /* Old browsers */
	background: -moz-linear-gradient(top, #F7F7F7 0%, #EDEDED 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F7F7F7), color-stop(100%,#EDEDED)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #F7F7F7 0%,#EDEDED 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #F7F7F7 0%,#EDEDED 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #F7F7F7 0%,#EDEDED 100%); /* IE10+ */
	background: linear-gradient(top, #F7F7F7 0%,#EDEDED 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F7F7F7', endColorstr='#EDEDED',GradientType=0 ); /* IE6-9 */	
}

#navigation li:hover, #navigation li.current {
	box-shadow: 0 1px rgba(255,255,255,0.2) inset;
	-webkit-box-shadow: 0 1px rgba(255,255,255,0.2) inset;
	border-color: #262626 !important;
	background: #4D4D4D; /* Old browsers */
	background: -moz-linear-gradient(top, #4D4D4D 0%, #262626 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4D4D4D), color-stop(100%,#262626)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4D4D4D 0%,#262626 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #4D4D4D 0%,#262626 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #4D4D4D 0%,#262626 100%); /* IE10+ */
	background: linear-gradient(top, #4D4D4D 0%,#262626 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4D4D4D', endColorstr='#262626',GradientType=0 ); /* IE6-9 */
}

#navigation a {
	text-align: center;
	width: 200px;
	display: block;
	padding: 10px 15px;
	color: #444;
	text-decoration: none;
	text-shadow: 0 1px #FFF;
}

#navigation a:hover, #navigation li.current a {
	color: #FFF;
	text-shadow: 0 1px #000;
}

#navigation li:first-child {
	border-left-color: #BABABA;
	border-radius: 100px 0 0 100px;
}

#navigation li:last-child {
	border-radius: 0 100px 100px 0;
}

/*Termina menu 2*/


/*Captura*/

#registros th, td
{
	text-align: center;
}

/*Termina captura*/

/*Entrevista*/
#FrmEntrevista
{
	margin: auto;
	width: 60%;
}

/*Termina Entrevista*/

/*seleccion*/
#FrmSeleccion
{
	margin: auto;
	width: 80%;
}

/*Termina seleccion*/

/*Control*/
#FrmControl
{
	margin: auto;
	width: 90%;
}
#FrmControl ul
{
	list-style:none;
}
#FrmControl ul li
{
	display: inline-block;
	vertical-align: top;
	width: 200px;
}
/*Termina control*/

/*Generales*/
#FrmGenerales
{
	margin: auto;
	width: 60%;
}
#FrmGenerales input[type="text"]
{
	width: 100px;
}
#FrmGenerales ul
{
	list-style:none;
}
#FrmGenerales ul li
{
	display: inline-block;
	vertical-align: top;
	width: 100px;
}
/*Termina generales*/

/*Sintomas*/
#FrmSintomas
{
	margin: auto;
	width: 60%;
}
#FrmSintomas ul
{
	list-style:none;
}
#FrmSintomas ul li
{
	display: inline-block;
	vertical-align: top;
	width: 50px;
}
/*Termina sintomas*/

/*Comorbilidades*/
#FrmComorbilidades
{
	margin: auto;
	width: 70%;
}
#FrmComorbilidades ul
{
	list-style:none;
}
#FrmComorbilidades ul li
{
	display: inline-block;
	vertical-align: top;
	width: 50px;
}
/*Termina comorbilidades*/

/*Especialista*/
#FrmEspe
{
	width: 80%;
	margin: auto;
}
/*Termina especialista*/

/*Hospitalizacion*/
#FrmHospitalizacion
{
	width: 70%;
	margin: auto;
}
/*Termina hospitalizacion*/

/*Laboratorio*/
#FrmLaboratorio
{
	width: 100%;
	margin: auto;
}
#FrmLaboratorio input[type="text"]
{
	width: 80px;
}
#FrmLaboratorio ul
{
	list-style:none;
}
#FrmLaboratorio ul li
{
	display: inline-block;
	vertical-align: top;
	width: 50px;
}
/*Termina laboratorio*/

/*Intervenciones*/
#FrmIntervenciones
{
	width: 100%;
	margin: auto;
}
#FrmIntervenciones input[type="text"]
{
	width: 80px;
}
#FrmIntervenciones ul
{
	list-style:none;
}
#FrmIntervenciones ul li
{
	display: inline-block;
	vertical-align: top;
	width: 50px;
}
/*Termina Intervenciones*/

/*Tratamientos*/
#FrmTx
{
	width: 80%;
	margin: auto;
}
#FrmTx ul
{
	list-style:none;
}
#FrmTx ul li
{
	display: inline-block;
	vertical-align: top;
	width: 50px;
}
.tratamiento,
{
	width: 90px;	
}
.fecha_tx, .dosis, .choras, .dhoras, .intervalos, .nciclos
{
	width: 80px;
}
#tratamientos
{
	text-align: center;
}
/*Termina tratamientos*/

/*Comorbilidades*/
#FrmComorb
{
	width: 80%;
	margin: auto;
}
#FrmComorb ul
{
	list-style:none;
}
#FrmComorb ul li
{
	display: inline-block;
	vertical-align: top;
	width: 50px;
}
/*Termina comorbilidades*/

/*Complicaciones*/
#FrmCompl
{
	width: 80%;
	margin: auto;
}
#FrmCompl ul
{
	list-style:none;
}
#FrmCompl ul li
{
	display: inline-block;
	vertical-align: top;
	width: 50px;
}
/*Termina complicaciones*/

/*Manejo de css por id tipo "like"*/
[id*="cual"]
{
	width: 200px;
}

[id*="mes"]
{
	width: 50px;
}

/*Manejo de clases de encabezado principal y secundario*/
.helptext
{
	text-align: center;
}

.main
{
	background-color: rgba(3,3,3,.1);
	border-color: rgba(27,66,255,.2);
	border-radius: 0.3em;
	border-style: solid;
	border-width: 1px;
	padding: 0.5em 0 0.5em 0;
	vertical-align: center;
	font-family: 'Oswald', sans-serif;

	-webkit-box-shadow: 1px 1px 1px rgba(27,66,255,.2), 0px 2px 5px rgba(0,0,0,.3);
	-moz-box-shadow: 1px 1px 1px rgba(27,66,255,.2), 0px 2px 5px rgba(0,0,0,.3);
	box-shadow: 1px 1px 1px rgba(27,66,255,.2), 0px 2px 5px rgba(0,0,0,.3);
	margin: 1em 0 1em 0;
}


.boton {
	-moz-box-shadow:inset 0px 3px 5px 0px #ffffff;
	-webkit-box-shadow:inset 0px 3px 5px 0px #ffffff;
	box-shadow:inset 0px 3px 5px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e8e8e8), color-stop(1, #bbbbbb) );
	background:-moz-linear-gradient( center top, #e8e8e8 5%, #bbbbbb 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e8e8', endColorstr='#cccccc');
	background-color:#e8e8e8;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #d1d1d1;
	display:inline-block;
	color:#474747;
	font-family: 'Roboto', sans-serif;
	height: 30px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
	padding: 0.25em 1em 0 1em;
}
.boton:hover 
{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #e8e8e8) );
	background:-moz-linear-gradient( center top, #cccccc 5%, #e8e8e8 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#e8e8e8');
	background-color:#cccccc;
	text-decoration: none;
}
.boton:active 
{
	position:relative;
	top:1px;
}
.boton:disabled
{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #e8e8e8) );
	background:-moz-linear-gradient( center top, #cccccc 5%, #e8e8e8 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#e8e8e8');
	background-color:#dddddd;
	text-decoration: none;
}
